name: Check markdown links

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1 * *" # Every month

env:
  JULIA_VER: "1.7"
  PYTHON_VER: "3.10"
  JULIA_NUM_THREADS: 2

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python ${{ env.PYTHON_VER }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.PYTHON_VER }}
      - name: Restore Python virtualenv
        uses: syphar/restore-virtualenv@v1
        id: cache-virtualenv
      - name: Download Pip cache
        uses: syphar/restore-pip-download-cache@v1
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'
      - name: Install Python dependencies if cache miss
        run: pip install -r .ci/requirements.txt
        if: steps.cache-virtualenv.outputs.cache-hit != 'true'

      - name: Setup Julia ${{ env.JULIA_VER }}
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ env.JULIA_VER }}
      - name: Cache Julia
        uses: actions/cache@v3
        env:
          cache-name: "julia"
        with:
          path: |
            ~/.julia/artifacts
            ~/.julia/compiled
            ~/.julia/packages
            ~/.julia/registries
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}-${{ hashFiles('**/Manifest.toml') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}-
            ${{ runner.os }}-${{ env.cache-name }}-
      - name: Install Julia dependencies and IJulia kernel
        run: |
          julia --threads=auto --project=@. --color=yes -e 'using Pkg; Pkg.instantiate();'
          julia --threads=auto --project=@. --color=yes build.jl

      - name: Check Links
        run: jupyter-book build docs --builder linkcheck
